.image {
    max-width: 700px;
    max-height: 300px;
}
.contenedor {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}
.imaagecont {
margin: 10px;
padding: 50px;
border: 5px solid #000;
}

.descripcioncont{
    font-size: 25px;
    padding-bottom: 200px;
}
.preciocont {
  font-size: 25px;
}